#Eclipse
.settings
.project
.classpath
.DS_Store

#Maven
target

#General
bak

#FakeSMTP
additional-material/fake-smtp
!additional-material/fake-smtp/Instrucciones.md
!additional-material/fake-smtp/fakesmtp.sh
