<html><head>
    <meta name="description" content="The micro-hangouts network">
    <title>Let's Talk About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><img height="20" alt="Brand" src="img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form" role="search">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-fw fa-search"></i></button>
                  </div>
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                </div>
              </form>
            </li>
            <li>
              <a href="user_home.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="carousel slide " id="fullcarousel-example
          " data-interval="false " data-ride="carousel ">
      <div class="carousel-inner ">
        <div class="item active ">
          <img src="https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?w=1024&amp;q=50&amp;fm=jpg&amp;s=478a9a2196033db7c0bf3c8ba3707f4d ">
          <div class="carousel-caption ">
            <h1>Game of Thrones - S6 E1</h1>
            <p>Let's talk about the last chapter of Game of Thrones
              <br>At the Crossroads Inn
              <br>On Monday, 30th November from 16:00</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control " href="#fullcarousel-example
          " data-slide="prev "><i class="icon-prev fa fa-angle-left "></i></a>
      <a class="right carousel-control " href="#fullcarousel-example
          " data-slide="next "><i class="icon-next fa fa-angle-right "></i></a>
    </div>
    <div class="section ">
      <div class="container ">
        <div class="row ">
          <div class="col-md-12 ">
            <h1>Let's Talk About...</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section ">
      <div class="container ">
        <div class="row ">
          <div class="col-md-3 ">
            <img src="img/book.svg " class="center-block img-responsive ">
            <h2>1984</h2>
            <p>LETTA the book 1984 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
              <br>At the Reader's Caffé
              <br>From 11:00 AM
              <br>
              <br>3 people will be there</p>
          </div>
          <div class="col-md-3 ">
            <img src="img/music.svg " class="center-block img-responsive ">
            <h2>A concert
              <br>
            </h2>
            <p>LETTA &lt;what&gt;
              <br>At &lt;where&gt;
              <br>From &lt;when&gt;
              <br>
              <br>One person will be there</p>
          </div>
          <div class="col-md-3 ">
            <img src="img/movie.svg " class="center-block img-responsive ">
            <h2>A movie</h2>
            <p>LETTA &lt;what&gt;
              <br>At &lt;where&gt;
              <br>From &lt;when&gt;
              <br>
              <br>&lt;N&gt; people will be there</p>
          </div>
          <div class="col-md-3 ">
            <img src="img/internet.svg " class="center-block img-responsive ">
            <h2>A web series</h2>
            <p>LETTA &lt;what&gt;
              <br>At &lt;where&gt;
              <br>From &lt;when&gt;
              <br>
              <br>&lt;N&gt; people will be there</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section ">
      <div class="container ">
        <div class="row ">
          <div class="col-md-3 ">
            <img src="img/tv.svg " class="center-block img-responsive ">
            <h2>A TV series
              <br>
            </h2>
            <p>LETTA &lt;what&gt;
              <br>At &lt;where&gt;
              <br>From &lt;when&gt;
              <br>
              <br>&lt;N&gt; people will be there</p>
          </div>
          <div class="col-md-3 ">
            <img src="img/book.svg " class="center-block img-responsive ">
            <h2>A book saga</h2>
            <p>LETTA &lt;what&gt;
              <br>At &lt;where&gt;
              <br>From &lt;when&gt;
              <br>
              <br>&lt;N&gt; people will be there</p>
          </div>
          <div class="col-md-3 ">
            <img src="img/movie.svg " class="center-block img-responsive ">
            <h2>A movies saga</h2>
            <p>LETTA &lt;what&gt;
              <br>At &lt;where&gt;
              <br>From &lt;when&gt;
              <br>
              <br>&lt;N&gt; people will be there</p>
          </div>
          <div class="col-md-3 ">
            <img src="img/music.svg " class="center-block img-responsive ">
            <h2>A disk</h2>
            <p>LETTA &lt;what&gt;
              <br>At &lt;where&gt;
              <br>From &lt;when&gt;
              <br>
              <br>&lt;N&gt; people will be there</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary ">
      <div class="container ">
        <div class="row ">
          <div class="col-sm-6 ">
            <h1>What is LETTA?</h1>
            <p>FAQ
              <br>About Us
              <br>Terms of Use</p>
          </div>
          <div class="col-sm-6 ">
            <p class="text-info text-right ">
              <br>
              <br>
            </p>
          </div>
        </div>
      </div>
    </footer>
  

</body></html>